<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>explorer</title>
</head>
<body>
    <div class="menu">
        <div class=boutons>
            <form action="http://localhost:8080/home">
                <button type="submit" class="bounton-nav"> Accueille </button>
            </form>
             <form action="http://localhost:8080/explorer">
                <button type="submit" class="bounton-nav"> Explorent </button>
            </form>
            <form action="http://localhost:8080/message">
                <button type="submit" class="bounton-nav"> Message priver </button>
            </form>
            <form action="http://localhost:8080/profil">
                <button type="submit" class="bounton-nav"> Profil </button>
            </form>
            <form action="http://localhost:8080/home">
                <button type="submit" class="bounton-nav"> notifi </button>
            </form>
        </div>
    </div>
    <div class="post">
        <p>{{.User}}</p>
        <hr>
        <div class="message"> 
         <h1>{{.Message}}</h1>
        </div>
        <hr>
        <p>like: {{.NBLike}}</p>
    </div>
</body>
</html>
