<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>Zap'end</title>
    <link rel="icon" type="image/png" href="/assets/img/logo.png"/>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/explorer.css'>
</head>
<body>
    <div class="menu">
        <div class=boutons>
            <div class="home" id="box_boutonNav">
            <img src="/assets/img/acuille.png" class="imgHome">
                <form action="/home">
                    <button type="submit" class="bounton-nav"> Accueil </button>
                </form>
            </div>
            <div class="explorer" id="box_boutonNav">
            <img src="/assets/img/explorer.png" class="imgExplorer">
                <form action="/explorer">
                    <button type="submit" class="bounton-nav"> Explorer </button>
                </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <img src="/assets/img/profil.png" class="imgProfil">
                <form action="/profil">
                    <button type="submit" class="bounton-nav"> Profil </button>
            </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <form action="/post">
                    <button type="submit" class="bounton-nav"> post </button>
            </form>
            </div>
            <div class="deco" id="box_boutonNav">
                <form action="/delete-cookie">
                    <button type="submit" class="bounton-nav"> déconnexion </button>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
        <form class="search-form" method="get">
            <input type="text" placeholder="Recherche" class="search-input" name="search">
            <button type="submit" class="search-button">Rechercher</button>
        </form>
        {{ range $index, $post := . }}
        <div class="post"> 
            <p class="display_pseudo">{{.Pseudo_user}}</p>
            <p class="display_titre">{{.Title_post}}</p>
            <hr>
            <p>{{.Content_post}}</p>
            <form method="POST">
                <button type="submit" name="effect" value="{{.Id_post}},1">like</button>
                <button type="submit" name="effect" value="{{.Id_post}},-1">dislike</button>
            </form>
            
            
            <button id="demo" onclick="openForm('create_coment_{{$index}}' )">commanter </button>
            <div id="create_coment_{{$index}}" class="add_comment">
                <form method="POST" id="add_comment">
                    <textarea name="content" id="content" autocomplete="off" required></textarea> 
                    <button type="submit" autocomplete="off"> comment </button>
                    <input name="id" value="{{$index}}"  style="display: none;" autocomplete="off">
                </form> 
                <button id="demo" onclick="fermer('create_coment_{{$index}}')">ferme </button>
            </div>
            <button id="demo" onclick="displayCemment()">aficher les commentaire </button>
            <div class="commentsDiv" style="display: none;" id="commentsDiv">
                {{ range $index_comment, $comment := .Comments }}
                    <div class="comment">
                    <p>{{$comment.Writer_comment}}</p>
                    <p>{{$comment.Content_comment}}</p>
                    <br>
                    </div>
            {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <script>
        function fermer(id) {
            document.getElementById(id).style.display = "none";
        }

        function openForm(id) {
            document.getElementById(id).style.display = "block";
        }
    </script>
    <script>
        function displayCemment() {
          var commentsDiv = document.getElementById('commentsDiv');
          if (commentsDiv.style.display === 'none') {
            commentsDiv.style.display = 'block';
          } else {
            commentsDiv.style.display = 'none';
          }
        }
      </script>
    </div>
</body>
</html>
