<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>Zap'end</title>
    <link rel="icon" type="image/png" href="/assets/img/logo.png"/>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/explorer.css'>
</head>
<body>
    <div class="menu">
        <div class=boutons>
            <div class="home" id="box_boutonNav">
            <img src="/assets/img/acuille.png" class="imgHome">
                <form action="/home">
                    <button type="submit" class="bounton-nav"> Accueil </button>
                </form>
            </div>
            <div class="explorer" id="box_boutonNav">
            <img src="/assets/img/explorer.png" class="imgExplorer">
                <form action="/explorer">
                    <button type="submit" class="bounton-nav"> Explorer </button>
                </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <img src="/assets/img/profil.png" class="imgProfil">
                <form action="/profil">
                    <button type="submit" class="bounton-nav"> Profil </button>
            </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <form action="/post">
                    <button type="submit" class="bounton-nav"> post </button>
            </form>
            </div>
            <div class="deco" id="box_boutonNav">
                <form action="/delete-cookie">
                    <button type="submit" class="bounton-nav"> déconnexion </button>
                </form>
            </div>
        </div>
    </div>
    <div class="box">
        <form class="search-form" method="get">
            <input type="text" placeholder="Recherche" class="search-input" name="search">
            <button type="submit" class="search-button">Rechercher</button>
        </form>
        {{ range $index, $post := . }}
        <div class="post"> 
            <h1>{{.Pseudo_user}}</h1>
            <p>{{.Title_post}}</p>
            <p>{{.Content_post}}</p>

            <form method="POST">
                <button type="submit" name="effect" value="{{$index}},1">like</button>
                <button type="submit" name="effect" value="{{$index}},-1">dislike</button>
            </form>
           
        </div>
            {{ end }}
    </div>
</body>
</html>
