
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>Home</title>
</head>
<body>
    <div class="menu">
        <img src="/assets/img/logo.png">
        <div class=boutons>
            <form action="/home">
                <button type="submit" class="bounton-nav"> Accuille </button>
            </form>
            <form action="/explorer">
                <button type="submit" class="bounton-nav"> Explorent </button>
            </form>
            <form action="/message">
                <button type="submit" class="bounton-nav"> Message priver </button>
            </form>
            <form action="/profil">
                <button type="submit" class="bounton-nav"> Profil </button>
            </form>
            <form action="/home">
                <button type="submit" class="bounton-nav"> notifi </button>
            </form>
            {{.}}
        </div>
    </div>
</body>
</html>
    <div class="search-form">
        <input type="text" placeholder="Recherche" class="search-input">
        <button type="submit" class="search-button">Rechercher</button>
    </div>
    <div class="post">
        <p>{{.User}}</p>
        <hr>
        <div class="message"> 
         <h1>{{.Message}}</h1>
        </div>
        <hr>
        <p>like: {{.NBLike}}</p>
    </div>
    <div class=" post">
        <p>{{.User}}</p>
        <hr>
        <div class="message"> 
         <h1>{{.Message}}</h1>
        </div>
        <hr>
        <p>like: {{.NBLike}}</p>   
    </div>
</body>
</html>
