
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/img/logo.png"/>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>Zap'end</title>
</head>
<body>
    <div class="menu">
        <div class=boutons>
            <div class="home" id="box_boutonNav">
            <img src="/assets/img/acuille.png" class="imgHome">
                <form action="/home">
                    <button type="submit" class="bounton-nav"> Accueil </button>
                </form>
            </div>
            <div class="explorer" id="box_boutonNav">
            <img src="/assets/img/explorer.png" class="imgExplorer">
                <form action="/explorer">
                    <button type="submit" class="bounton-nav"> Explorer </button>
                </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <img src="/assets/img/profil.png" class="imgProfil">
                <form action="/profil">
                    <button type="submit" class="bounton-nav"> Profil </button>
            </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <form action="/post">
                    <button type="submit" class="bounton-nav"> post </button>
            </form>
            </div>
        </div>
    </div>
    
    <div class="box">
        <!-- <div class="search-form">
            <input type="text" placeholder="Recherche" class="search-input">
            <button type="submit" class="search-button">Rechercher</button>
        </div> -->
        {{ range $index, $post := . }}
        <div class="post"> 
            <p class="display_pseudo">{{.Pseudo_user}}</p>
            <p>{{.Title_post}}</p>
            <hr>
            <p>{{.Content_post}}</p>
            <form method="POST">
                <button type="submit" name="effect" value="{{$index}},1">like</button>
                <button type="submit" name="effect" value="{{$index}},-1">dislike</button>
            </form>
            <button id="demo" onclick="openForm('create_coment_{{$index}}' )">commanter </button>
            <div id="create_coment_{{$index}}" class="add_comment">
                <form method="POST" id="add_comment">
                    <textarea name="content" id="content"></textarea> 
                    <button type="submit"> comment </button>
                    <input name="id" value="{{$index}}"  style="display: none;">
                </form> 
                <button id="demo" onclick="fermer('create_coment_{{$index}}')">ferme </button>
            </div>
        </div>
            {{ end }}
    </div>
    <script>
        function fermer(id) {
            document.getElementById(id).style.display = "none";
        }

        function openForm(id) {
            document.getElementById(id).style.display = "block";
        }
    </script>
</body>
</html>
