<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>Zap'end</title>
    <link rel="icon" type="image/png" href="/assets/img/logo.png"/>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/message.css'>
</head>
<body>
    <div class="menu">
        <div class=boutons>
            <div class="home" id="box_boutonNav">
            <img src="/assets/img/acuille.png" class="imgHome">
                <form action="/home">
                    <button type="submit" class="bounton-nav"> Accuille </button>
                </form>
            </div>
            <div class="explorer" id="box_boutonNav">
            <img src="/assets/img/explorer.png" class="imgExplorer">
                <form action="/explorer">
                    <button type="submit" class="bounton-nav"> Explorer </button>
                </form>
            </div>
            <div class="message_priver" id="box_boutonNav">
                <img src="/assets/img/message.png" class="imgExplorer">
                <form action="/message">
                    <button type="submit" class="bounton-nav"> Message priver </button>
                </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <img src="/assets/img/profil.png" class="imgProfil">
                <form action="/profil">
                    <button type="submit" class="bounton-nav"> Profil </button>
            </form>
            </div>
            <div class="profil" id="box_boutonNav">
                <form action="/post">
                    <button type="submit" class="bounton-nav"> post </button>
            </form>
            </div>
        </div>
    </div>
    <div class="box">
        <form class="search-form"  method="POST">
            <input type="text" name="search" placeholder="Recherche" class="search-input">
            <button type="submit" class="search-button">Rechercher</button>
        </form>
        <form class="input-container"  method="POST">
            <input type="text" name="message" class="message-input" placeholder="Entrez votre message">
            <button class="send-button">Envoyer</button>
        </form>
        {{range .}}
    <div class="message">
        {{.User}}
        {{.Message}}
    </div>
    {{end}}
    </div>    
</body>
</html>
