<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/registration.css'>
    <title>Zap'end</title>
    <link rel="icon" type="image/png" href="/assets/img/logo.png"/>
</head>
<body>
    <div class="registration">
        <form method="POST" >
            <input type="text" class = "prenom" name="prenom"  placeholder="prenom">
            <input type="text" name = "nom" placeholder="nom">
            <input type="text" name="age" placeholder="age">
            <input type="email" name = "email" placeholder="email">
            <input type="text" name = "pseudo"  placeholder="pseudo">
            <input type="password" name = "password" placeholder="mot de passe" >
            <button type="submit" >Envoyer</button>
        </form>
    </div>
</body>
</html>