<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/css/style.css'>
    <title>Home</title>
</head>
<body>
    <div class="registration">
        <form method="POST">
            <label>votre prenom
                <input type="text" class = "prenom">
            </label>
            <label>votre nom
                <input type="text" class = "nom">
            </label>
            <label>voter email
                <input type="text" class = "email">
            </label>
            <label>psedo 
                <input type="text" class = "psedo">
            </label>
            <label>mot de passe
                <input type="text"class = "password">
            </label>
            <label>votre age
                <input type="text" class="age">
            </label>
            
            <button type="submit" >Envoyer</button>
        </form>
    </div>
</body>
</html>