.registration{
    position: relative;
    width: 300px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 5%);
    background-color: rgb(144, 127, 15);
    padding: 25px;
    border-radius: 10px;
}

input{
    margin: 5px;
    width: 150px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: rgb(53, 53, 53);
}
