
body{
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-around;

}
.menu {
    background-color: #AAEDED;
    position: fixed;
    top:0;
    left:0;
    bottom:0; 
    width: 331px;
}

.bounton-nav{
    display: flex;
    border: none;
    background-color: #AAEDED;
    padding: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 39px;
    color: #D3B139;
    border-radius: 50px;
}

.bounton-nav:hover{
    background-color: #6bd1d1;
}

.boutons {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: 61px;
}


.imgHome {
    width: 40px;
    height: 45px;
}

img.imgExplorer {
    width: 37px;
}

#box_boutonNav {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.search-form {
    margin-top: 0%;
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    
}

p{
    margin: 0;
}

.post {
    position: relative;
    background-color: #eff5f5;
    border: solid;
    text-align: center;
    box-sizing: content-box;
    width: 400px;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.create-post{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(213, 213, 213);
    border-radius: 35px ;
    width : 600px ;
    height: 800px;
}

#title{
    margin-top: 20px;
    border-radius: 20px;

    display: flex;
    width: 550px;
    
}
body .create-post form textarea{
    border-radius: 10px;
    display: flex;
    text-align:left;
    width: 550px;
    resize: none;
  
    padding: 10px;
}
.box{
    position: absolute;
    left: 337px;
}

