.menu {
    background-color: #AAEDED;
    position:fixed;
    top:0;
    left:0;
    bottom:0; 
    width: 331px;
}

.bounton-nav{
    display: flex;
    border: none;
    background-color: #AAEDED;
    padding: 15px;
}

.bounton-nav:hover{
    background-color: #6bd1d1;
}
.boutons {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}